<ion-header>
  <ion-toolbar>
    <ion-title>tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>abc</ion-label>
      <ion-button (click)="presentPopover()">dr</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>xywz</ion-label>
      <ion-select placeholder="Pilih Aksi" interface="popover">
        <ion-select-option>Follow Up</ion-select-option>
        <ion-select-option>Entri Ceklist</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
