<ion-content>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-searchbar [(ngModel)]="queryText" placeholder="Nama atau kode ticket" (search)="searchByKeyword($event)"></ion-searchbar>

  <ion-card *ngFor="let troubleshoot of troubleshoots">
    <ion-item>
      <h2 text-capitalize>{{ troubleshoot.kdticket }}</h2>
    </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-item>
            {{ troubleshoot.name }}
        </ion-item>
        <ion-item>
            <ion-button (click)="showChecklist(troubleshoot)">Checklist</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
 
 
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
