<ion-header>
    <ion-toolbar>
      <ion-title text-wrap>
        {{pageTitle}}
      </ion-title>
      <ion-menu-toggle slot="start">
          <ion-button >
            <ion-icon name="menu"></ion-icon>
          </ion-button>
      </ion-menu-toggle>

    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <ion-menu side="start" menuId="custom" class="my-custom-menu">
      <ion-content>
        <ion-list>
          <ion-item href={{appmenu.firstmenu.url}}> <ion-icon name={{appmenu.firstmenu.icon}}></ion-icon>{{appmenu.firstmenu.label}}</ion-item>
          <ion-item href="/troubleshoots">Troubleshoots</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet main></ion-router-outlet>
  </ion-content>